{% extends "base.html" %} {% block title %}MTA Subway Delays{% endblock %}
{%block content %}
<!-- these links are for the map -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>
<div>
  <h1 class="contactStyle">Contact Us</h1>
      <h4 class="contactStyle">Need more information? Please visit us!</h4>
      <p>Our main office is located at the Empire State Building in the middle of
        Manhattan for easy access for all. You can also contact us via email: <a href="mailto:SubwayDelays@example.com">SubwayDelays@example.com</a></p>
      <!-- this div is for the map -->
      <div class="contactStyle" id="map"></div>
    </div>
    <script>
      // evrything in this script section is for the map
      var map = L.map('map').setView([40.748500129248335, -73.98568341793842], 13);
      var marker = L.marker([40.748500129248335, -73.98568341793842]).addTo(map);
      marker.bindPopup("<b>Our office!</b>").openPopup();

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
    </script>
  
</div>
{% endblock %}

