<!-- index.html -->
{% extends "base.html" %} {% block title %}MTA Subway Delays{% endblock %}
{%block content %}
<div class="row">
  <div class="image-container position-relative">
    <img
      src="/static/img/Subwaymapshorter.jpg"
      class="img-responsive"
      style="width: 100%; height: auto; display: block; object-fit: cover"
      alt="subway map"
    />
    <div
      class="text-overlay position-absolute top-0 left-1 right-0 bottom-0 p-20 fs-3 fw-bold text-uppercase"
      style="
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <p style="color: #59a985">Stay informed</p>
      <p style="color: #385170">with the</p>
      <p style="color: #142d4c">latest delay status.</p>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-sm-4">
    <div
      class="container-fluid"
      style="background-color: #79c2d0; padding: 10px; border-radius: 8px"
    >
      <h3 class="mt-4">Top Delay Lines</h3>
      <p>Ranking of the subway lines that has most delays.</p>
      <!-- <p>Lorem ipsum dolor sit amet.</p>
      <table></table> -->
      <ul>
        {% for line in top_lines %}
        <li>{{ line.subwayline }} ({{ line.total_delays }} delays)</li>
        {% endfor %}
      </ul>

    <div
      class="col"
      style="background-color: #f2e9d0; padding: 10px; border-radius: 8px"
    >
      <h3>MTA Top Stories</h3>
    </div>
    <div class="" style="padding: 10px">
      <a
        href="https://www.cbsnews.com/newyork/video/mta-official-says-work-on-2nd-avenue-subway-is-on-hold"
        style="font-weight: bold"
        >MTA official says work on 2nd Avenue Subway is on hold</a
      >
      <img
        class="img-fluid"
        src="/static/img/2ndAvenue.jpg"
        alt="2ndAvenue Station"
      />
      <p>
        An MTA official said work on the 2nd Avenue Subway is now on hold
        following Gov. Kathy Hochul's decision to pause congestion pricing.
        -CBSNews
      </p>

    </div>
    <br />
    <div
      class="container-fluid"
      style="background-color: #97cba9; padding: 10px; border-radius: 8px"
    >
      <h3>Subscribe Us</h3>
      <p>Subscribe to our newsletter to receive updated delays.</p>
      <div class="form">
        <form
          class="input text-center"
          action="{{ url_for('subscribe') }}"
          method="POST"
        >
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter Your Email"
            required
          />
          <br />
          {% with messages = get_flashed_messages(with_categories=True) %} {% if
          messages %}
          <div class="alert-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          </div>

          {% endif %} {% endwith %}
          <button
            class="btn mb-3 btn-light"
            type="submit"
            style="cursor: pointer; padding: 6px 30px; font-weight: 450"
          >
            <span>SUBSCRIBE</span>
          </button>
        </form>
      </div>
    </div>
    <hr class="d-sm-none" />
  </div>
  <div class="col-sm-8">
    <div class="d-grid">
      <button
        class="btn btn-lg"
        style="
          padding: 20px;
          background: linear-gradient(
            109.6deg,
            rgb(36, 45, 57) 11.2%,
            rgb(16, 37, 60) 51.2%,
            rgb(0, 0, 0) 98.6%
          );
        "
      >
        <a
          class="text-decoration-none text-white text-uppercase fw-bold"
          href="{{ url_for('newdelays') }}"
          >Report a New Delay</a
        >
      </button>
      </div>
    <div>
      <h2 class="mt-5" id="">Current Delays</h2>

      <table
        class="p-3 table table-striped table-hover"
        style="color: #5dacbd; padding: 10px; border-radius: 8px"
      >
        <thead>
          <tr>
            {% for header in table_headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for delay in latest_delays %}
          <tr>
            <td>{{ delay.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ delay.subwayline }}</td>
            <td>{{ delay.stationname }}</td>
            <td class="text-danger">{{ delay.delayminutes }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-12" style="background-color: #f2e9d0">
      <h2>MTA Delay Statistic</h2>
      <h5>from resource....</h5>
      <div><table></table></div>
    </div>
        <p></p>
    <p>
      Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    </p>
    
    
<h1>Subway Delays Statistics</h1>

<table class="table">
  <thead>
    <tr>
      <th>Subway Line</th>
      <!-- <th>Total Delays</th> -->
      <th>Average Delay (minutes)</th>
    </tr>
  </thead>
  <tbody>
    {% for line, stats in statistics.items() %}
    <tr>
      <td>{{ line }}</td>
      <!-- <td>{{ stats.total_delays }}</td> -->
      <td>{{ stats.avg_delay }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    <div>
      <!-- <h2 class="mt-5" id="">Delays</h2> -->
      <h2>Summary by Date</h2>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total Delays</th>
      <th>Average Delay (minutes)</th>
    </tr>
  </thead>
  <tbody>
    {% for date, summary in date_summary.items() %}
    <tr>
      <td>{{ date }}</td>
      <td>{{ summary.total_delays }}</td>
      <td>{{ summary.avg_delay }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    </div>
  </div>
</div>
{% endblock %}
