<!-- index.html -->
{% extends "base.html" %} {% block title %}MTA Subway Delays{% endblock %}
{%block content %}
<div class="row">
  <div class="image-container position-relative">
    <img
      src="/static/img/Subwaymapshorter.jpg"
      class="img-responsive"
      style="width: 100%; height: auto; display: block; object-fit: cover"
      alt="subway map"
    />
    <div
      class="text-overlay position-absolute top-0 left-1 right-0 bottom-0 p-20 fs-3 fw-bold text-uppercase"
      style="
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <p style="color: #59a985">Stay informed</p>
      <p style="color: #385170">with the</p>
      <p style="color: #142d4c">latest delay status.</p>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-sm-4">
    <div>
      <h3 class="mt-4">Top Delay Lines</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <table></table>
    </div>
    <br />
    <div
      class="container-fluid"
      style="background-color: #97cba9; padding: 10px; border-radius: 8px"
    >
      <h3>Subscribe Us</h3>
      <p>Subscribe to our newsletter to receive updated delays.</p>
      <div class="form">
        <form
          class="input text-center"
          action="{{ url_for('subscribe') }}"
          method="POST"
        >
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter Your Email"
            required
          />
          <br />
          {% with messages = get_flashed_messages(with_categories=True) %} {% if
          messages %}
          <div class="alert-messages">
            {% for category, message in messages %}
            <div
              class="alert alert-{{ category }} mt-3 text-success"
              role="alert"
            >
              {{ message }}
            </div>
            {% endfor %}
          </div>

          {% endif %} {% endwith %}
          <button
            class="btn mb-3 btn-light"
            type="submit"
            style="cursor: pointer; padding: 6px 30px; font-weight: 450"
          >
            <span>SUBSCRIBE</span>
          </button>
        </form>
      </div>
    </div>
    <hr class="d-sm-none" />
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12" style="background-color: #f2e9d0">
      <h2>heading 2</h2>
      <h5>description</h5>
      <div><table></table></div>
    </div>
    <p>Some text..</p>
    <p>
      Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    </p>
    <div>
      <h2 class="mt-5" id="">Delays</h2>
      <table class="p-3 table table-striped table-hover" style="color: #5dacbd">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button
      class="btn m-5"
      style="
        background: radial-gradient(
          circle at 10% 20%,
          rgb(255, 197, 61) 0%,
          rgb(255, 94, 7) 90%
        );
      "
    >
      <a
        class="text-decoration-none text-white text-uppercase"
        href="{{ url_for('newdelays') }}"
        >Add a New Delay</a
      >
    </button>
  </div>
</div>
{% endblock %}
