{% extends "base.html" %} {% block title %}MTA Subway Delays{% endblock %}
{%block content %}
<h2 class="h2form">Report Subway Delay</h2>
<div class="delayspage border border-primary rounded">
  <img
    src="/static/img/delayimg.jpg"
    class="form1img border border-primary rounded"
    style="width: 50%"
    alt="subway delay info"
  />
  <br />
  <!-- Flash message container -->
  <!-- {% if show_flash and get_flashed_messages() %}
  <div id="flash-container" style="color: green">
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  <script>
    setTimeout(function () {
      window.location.href = "{{ url_for('index') }}";
    }, 3000);
  </script>
  {% endif %}
  <br /> -->

  <form class="form1" action="/newdelays" method="post">
    <label for="subwayline">Subway Line</label>
    <input
      type="text"
      id="subwayline"
      placeholder="Subway Line"
      maxlength="1"
      required
      pattern="[A-Z1,7]"
      name="subwayline"
    />
    <br /><br />
    <label for="stationname">Station Name</label>
    <input
      type="text"
      id="stationname"
      placeholder="Station Name"
      maxlength="255"
      required
      name="stationname"
    />
    <br /><br />
    <label for="date">Date Delay Happened</label>
    <input
      type="date"
      id="date"
      required
      name="date"
      value="{{ today_date }}"
    />
    <br /><br />
    <label for="delayminutes">How Many Minutes Train Delayed</label>
    <input
      type="number"
      id="delayminutes"
      placeholder="Number of Minutes"
      min="1"
      required
      name="delayminutes"
    />
    <br />
    <br />
    <!-- Flash message container -->
    {% if show_flash and get_flashed_messages() %}
    <div id="flash-container" style="color: green">
      {% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    <script>
      setTimeout(function () {
        window.location.href = "{{ url_for('index') }}";
      }, 3000);
    </script>
    {% endif %}
    <br />
    <button type="submit" style="margin-left: 40%" class="btn btn-info">
      Submit
    </button>
  </form>
</div>
{% endblock %}
