<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscription</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <div>
      <h1>
        Hello {Name}, We appreciate you for subscribing to MTA Subway Delays
      </h1>
      <p></p>
    </div>
  </body>
</html>
